html
 body 
  form(action="/data",method="get")
        div 
            label enter name 
            input(type="text",name="uname")
        br    
        div 
            label enter email 
            input(type="email",name="email")
        br
        div 
            input(type="submit")